  <!--Menu-->
<ion-menu type="reveal" menuId="menu" side="end" swipeGesture="false" content-id="main-content">
  <ion-header >
    <ion-toolbar >
      <ion-title>Loopers</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button [routerLink]="['/about']" routerDirection="forward">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>A propos</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/help']" routerDirection="forward">
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        <ion-label>Aide</ion-label>
      </ion-item>
 <ion-item button [routerLink]="['/obd']" routerDirection="forward" id ="buttonOBD">
  <ion-icon  name="stats-chart-outline" slot="start"></ion-icon>
        <ion-label id="CarBox">CarBox</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/settings']" routerDirection="forward"> 
        <ion-icon name="cog-outline" slot="start"></ion-icon>
        <ion-label>Paramètres</ion-label>
      </ion-item>
      <ion-item (click)="logout()">
          <ion-icon  slot="start" name="log-out-outline"></ion-icon>
          <ion-label >Déconnexion</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div  id="main-content">
  <ion-header >
    <ion-toolbar >
      <ion-title > {{dataUser.prenom}} {{dataUser.nom}} </ion-title>
      <ion-buttons  slot="end">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content [fullscreen]="true">

</ion-content>
</div>