.error-message {
    color: var(--ion-color-danger);
}
ion-content {
    --ion-background-color: linear-gradient(#0F2027, #203A43,#2C5364);
}
ion-item,
ion-header,
ion-toolbar,
ion-title,
ion-label,
ion-input {
    --background: transparent;
    color: white;
}
ion-toolbar{
    --border-color:transparent;
}
ion-title {
    position: static;
}
.phrase{
    --border-color:transparent;
}