ion-content {
    --ion-background-color: linear-gradient(#007991, #78ffd6);
}
ion-item,
ion-header,
ion-toolbar,
ion-title,
ion-label,
ion-input {
    --background: transparent;
    color: white;
}
ion-toolbar{
    --border-color:transparent;
}
ion-title {
    position: static;
}
.phrase{
    --border-color:transparent;
}